{% extends "registration/base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<!-- Page content -->
<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="row justify-content-center w-100">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary border-0 mb-0">
                <div class="card-body px-lg-5 py-lg-5">
                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            Email atau password salah. Silakan coba lagi.
                        </div>
                    {% endif %}

                    <form method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        <p class="text-left mb-5" style="font-weight: 800; font-size: 2rem; line-height: 1;">Sign In</p>

                        <!-- Username (or email) -->
                        <div class="form-group mb-3">
                            <!-- <div class="input-group input-group-merge input-group-alternative"> -->
                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                                </div>
                                <input type="text" name="username" class="form-control" placeholder="Username" required="true" autofocus>
                            </div>
                        </div>

                        <!-- Password -->
                        <div class="form-group mb-2">
                            <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                </div>
                                <input type="password" name="password" class="form-control" placeholder="Password" required>
                            </div>
                        </div>

                        <div class="col-12 p-0 text-right">
                            <a href="#"><small class="nav-link p-0">Forgot password?</small></a>
                        </div>
                        
                        <!-- Submit -->
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary my-0 w-100">Sign in</button>
                        </div>
                    </form>
                    
                    <div class="d-flex align-items-center text-center my-4">
                        <div class="flex-grow-1 border-top"></div>
                        <span class="mx-3 text-muted small">Or</span>
                        <div class="flex-grow-1 border-top"></div>
                    </div>

                    <div class="text-center mb-4">
                        <button type="submit" class="btn btn-secondary my-0 w-100 d-flex align-items-center justify-content-center">
                            <img src="{% static 'assets/img/icons/common/google.svg' %}" alt="Google" class="mr-3" style="height: 20px;">
                            <span class="text-default">Sign in with Google</span>
                        </button>
                    </div>

                    <div class="row">
                        <div class="col-12 d-flex text-center justify-content-center p-0">
                            <small class="text-muted">Doesn't have an account?</small>
                            <a href="{% url 'register' %}"><small class="nav-link ml-1 p-0">Sign up</small></a>
                        </div>
                    </div>
                </div>
                <!-- <div class="card-footer bg-transparent">
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- End Page content -->
{% endblock %}
                
