{% extends "core/base.html" %}
{% load static %}

<!-- {% block title %}Dashboard{% endblock %} -->

{% block content %}
<!-- Header -->
<div class="header bg-default pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Breadcrumb -->
            <div class="row align-items-center pt-4 pb-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-secondary d-inline-block mb-0">
                        {{ page_title|default:"Judul Halaman" }}
                    </h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="{% url 'dashboard' %}"><i class="fa-solid fa-home text-secondary"></i></a>
                            </li>
                            {% if breadcrumbs %}
                                {% for item in breadcrumbs %}
                                    {% if forloop.last %}
                                        <li class="breadcrumb-item active" aria-current="page">{{ item.title }}</li>
                                    {% else %}
                                        <li class="breadcrumb-item">
                                            <a href="{{ item.url }}" class="text-secondary">{{ item.title }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
                            {% endif %}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Header -->
<!-- Page content -->
<div class="container-fluid mt--6">
    <!-- Row 1 - Statistik -->
    <div class="row">
        <!-- Col 1 -->
        <div class="col-xl-8">
            <div class="card bg">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
                            <h5 class="h3 mb-0">Jumlah Pasien</h5>
                        </div>
                        <div class="col">
                            <ul class="nav nav-pills justify-content-end">
                                <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 10, 30, 15, 40, 20, 60, 60]}]}}'>
                                    <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                                        <span class="d-none d-md-block">Bulan</span>
                                        <span class="d-md-none">B</span>
                                    </a>
                                </li>
                                <li class="nav-item" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 5, 25, 10, 30, 15, 40, 40]}]}}'>
                                    <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                                        <span class="d-none d-md-block">Minggu</span>
                                        <span class="d-md-none">M</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Chart -->
                    <div class="chart">
                        <!-- Chart wrapper -->
                        <canvas id="chart-sales-dark" class="chart-canvas"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Col 1 -->
        <!-- Col 2 -->
        <div class="col-xl-4">
            <div class="card">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                            <h5 class="h3 mb-0">Total orders</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Chart -->
                    <div class="chart">
                        <canvas id="chart-bars" class="chart-canvas"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Col 2 -->
    </div>
    <!-- End Row 1 -->
    <!-- Row 2 - Antrian Registrasi -->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Antrian Registrasi</h3>
                </div>
                <!-- DataTable List Antrian Registrasi -->
                <div class="table-responsive py-3">
                    <!-- <table class="table table-flush" id="datatable-basic"> -->
                    <table id="datatable-basic" class="table table-flush table-striped">                         
                        <thead class="thead-light">
                            <tr>
                                <th>No. Antri</th>
                                <th>Nama Pasien</th>
                                <th>Waktu Konsul</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in data_registrasi %}
                            <tr>
                                <td>{{ item.no_antrian }}</td>
                                <td>{{ item.pasien.nama_lengkap }}</td>
                                <td>{{ item.tanggal }}</td>
                                <td>
                                    {% if item.status == 'menunggu' %}
                                        <span class="badge badge-warning">Menunggu</span>
                                    {% elif item.status == 'selesai' %}
                                        <span class="badge badge-success">Selesai</span>
                                    {% elif item.status == 'batal' %}
                                        <span class="badge badge-danger">Batal</span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- End DataTable List Antrian Registrasi -->
            </div>
        </div>
    </div>
    <!-- End Row 2 -->
    <!-- Footer -->
    <footer class="footer pt-0">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6">
                <div class="copyright text-center text-lg-left text-muted">
                    &copy; 2025 <a href="#" class="font-weight-bold ml-1" target="_blank">Kelompok 9 RPL</a>
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                    <li class="nav-item">
                        <a href="#" class="nav-link" target="_blank">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" target="_blank">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" target="_blank">License</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
</div>
<!-- End Page content -->
{% endblock %}