{% extends "core/base.html" %}
{% load static %}
{% load hashid_tags %}

{% block title %}Pasien{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
<!-- Header -->
<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Breadcrumb -->
            <div class="row align-items-center pt-4 pb-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-default d-inline-block mb-0">
                        {{ page_title|default:"Judul Halaman" }}
                    </h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="{% url 'dashboard' %}"><i class="fas fa-home text-default"></i></a>
                            </li>
                            {% if breadcrumbs %}
                                {% for item in breadcrumbs %}
                                    {% if forloop.last %}
                                        <li class="breadcrumb-item text-muted active" aria-current="page">{{ item.title }}</li>
                                    {% else %}
                                        <li class="breadcrumb-item">
                                            <a href="{{ item.url }}" class="text-primary">{{ item.title }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
                            {% endif %}
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 d-flex justify-content-end">
                    <a href="{% url 'tambah_pasien' %}" class="btn btn-md btn-icon btn-primary">
                        <span class="btn-inner--icon"><i class="fa-solid fa-plus"></i></span>
                        <span class="btn-inner--text">Pasien</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Header -->

<!-- Page content -->
<div class="container-fluid mt--6">
    <!-- Main Row -->
    <div class="row">
        <div class="col">
            <!-- Filter Status -->
            <ul class="nav nav-tabs border-1 mb-3" id="statusTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link {% if not status_filter %}active{% endif %}" href="?">Semua</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if status_filter == 'aktif' %}active{% endif %}" href="?status=aktif">Aktif</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if status_filter == 'nonaktif' %}active{% endif %}" href="?status=nonaktif">Tidak Aktif</a>
                </li>
            </ul>
            <!-- End Filter -->
            <div class="card">
                <!-- DataTable List Pasien -->
                <div class="table-responsive py-3">
                    <table id="datatable-basic" class="table table-flush table-striped">                         
                        <thead class="thead-light">
                            <tr>
                                <th>Nama</th>
                                <th>No. RM</th>
                                <th>Tgl. Lahir</th>
                                <th>NIK</th>
                                <th class="w-10 text-center">Status</th>
                                <th class="w-10 text-center">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pasien in pasien_list %}
                            <tr>
                                <td class="align-middle"><a class="text-default" href="{% url 'detail_pasien' pasien.id|encode_hash %}">{{ pasien.nama_lengkap }}</a></td>
                                <td class="align-middle">{{ pasien.no_rm }}</td>
                                <td class="align-middle">{{ pasien.tanggal_lahir|date:"d M Y" }}</td>
                                <td class="align-middle">{{ pasien.nik }}</td>
                                <td class="text-center align-middle">
                                    {% if pasien.status == 'aktif' %}
                                        <span class="badge badge-success">Aktif</span>
                                    {% elif pasien.status == 'nonaktif' %}
                                        <span class="badge badge-danger">Tidak Aktif</span>
                                    {% else %}
                                        <span class="badge badge-light">{{ pasien.get_status_display }}</span>
                                    {% endif %}
                                </td>
                                <td class="text-center align-middle">
                                    <a href="#" class="btn btn-primary btn-sm" data-toggle="dropdown" title="More" ><i class="fa-solid fa-ellipsis"></i></a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item d-flex align-items-center text-default" href="{% url 'detail_pasien' pasien.id|encode_hash %}">
                                            <i class="fa-solid fa-magnifying-glass text-primary"></i> 
                                            <span>Lihat Detail</span>
                                        </a>
                                        <a class="dropdown-item d-flex align-items-center text-default" href="{% url 'edit_pasien' pasien.id|encode_hash %}">
                                            <i class="fa-solid fa-pencil text-primary"></i>
                                            <span>Edit</span>
                                        </a>
                                        <a class="dropdown-item d-flex align-items-center text-default" href="{% url 'riwayat_rekam_medis_pasien' pasien.id|encode_hash %}" >
                                            <i class="fa-solid fa-clock text-primary"></i>
                                            <span>Riwayat Rekam Medis</span>
                                        </a>
                                        <a class="dropdown-item d-flex align-items-center text-default" href="{% url 'buat_registrasi_pasien' pasien.id|encode_hash %}">
                                            <i class="fa-solid fa-file-pen text-primary"></i> 
                                            <span>Buat Registrasi</span>
                                        </a>
                                        <a class="dropdown-item d-flex align-items-center text-default" href="#">
                                            <i class="fa-solid fa-id-card text-primary"></i> 
                                            <span>Unduh Kartu Pasien</span>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item d-flex align-items-center text-default" href="{% url 'nonaktifkan_pasien' pasien.id|encode_hash %}">
                                            <i class="fa-solid fa-ban text-danger"></i> 
                                            <span>Nonaktifkan</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- End DataTable List Antrian Registrasi -->
            </div>
        </div>
    </div>
    <!-- End Row 2 -->

    <!-- Footer -->
    {% include 'partials/footer.html' %}
    <!-- End Footer -->
</div>
<!-- End Page content -->
{% endblock %}

{% block extra_js %}
{% endblock %}