{% extends "core/base.html" %}
{% load static %}

{% block title %}Pasien - Detail{% endblock %}

{% block content %}
<!-- Header -->
<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Breadcrumb -->
            <div class="row align-items-center pt-4 pb-4">
                <!-- Kolom Kiri -->
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-default d-inline-block mb-0">
                        {{ page_title|default:"Judul Halaman" }}
                    </h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="{% url 'dashboard' %}"><i class="fa-solid fa-home text-default"></i></a>
                            </li>
                            {% if breadcrumbs %}
                                {% for item in breadcrumbs %}
                                    {% if forloop.last %}
                                        <li class="breadcrumb-item text-muted active" aria-current="page">{{ item.title }}</li>
                                    {% else %}
                                        <li class="breadcrumb-item">
                                            <a href="{{ item.url }}" class="text-default">{{ item.title }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
                            {% endif %}
                        </ol>
                    </nav>
                </div>
                <!-- Kolom Kanan -->
                <div class="col-lg-6 col-5 d-flex justify-content-end align-items-center">
                    <form method="get" class="d-flex justify-content-end align-items-center m-0 w-100">
                        {% if status_filter %}
                            <input type="hidden" name="status" value="{{ status_filter }}">
                        {% endif %}
                        <div class="form-group mb-0">
                            <div class="input-group input-group-merge w-auto">
                                <input type="text" name="tanggal" class="form-control datepicker" placeholder="Pilih tanggal"
                                       value="{{ tanggal_filter }}" autocomplete="off" id="datepickerInput">
                                <div class="input-group-append">
                                    <span class="input-group-text text-primary">
                                        <i class="fa-solid fa-calendar-days"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <noscript><button type="submit" class="btn btn-primary btn-sm ml-2">Terapkan</button></noscript>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Header -->
 
<!-- Page content -->
<div class="container-fluid mt--6">
    <!-- DataTable Daftar Rekam Medis Semua Pasien -->
    <div class="row">
        <div class="col">
            <!-- Filter Status -->
            <!-- End Filter -->
            <div class="card">
                <div class="table-responsive py-3">
                    <!-- <table class="table table-flush" id="datatable-basic"> -->
                    <table id="datatable-basic" class="table table-flush table-striped">                         
                        <thead class="thead-light">
                            <tr>
                                <th class="w-15">Tanggal</th>
                                <th>Nama Pasien</th>
                                <th>Perubahan Terakhir</th>
                                <th class="w-10 text-center">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in rekam_list %}
                            <tr>
                                <td class="align-middle">{{ item.created_at|date:"d M Y" }}<br>
                                    <small class="text-muted">{{ item.created_at|time:"H:i"}}</small>
                                </td>
                                <td class="align-middle">{{ item.registrasi.pasien.nama_lengkap }}</td>
                                <td class="align-middle"><br>
                                    {% if item.created_at == item.updated_at %}
                                        Dibuat oleh <strong>{{ item.created_by|default:"-" }}</strong><br>
                                        <small class="text-muted">
                                            {{ item.created_at|date:"d M Y" }} {{ item.created_at|time:"H:i" }}
                                        </small>
                                    {% else %}
                                        Diubah oleh <strong>{{ item.updated_by|default:"-" }}</strong><br>
                                        <small class="text-muted">
                                            {{ item.updated_at|date:"d M Y" }} {{ item.updated_at|time:"H:i" }}
                                        </small>         
                                    {% endif %} 
                                </td>
                                <td class="text-center align-middle">
                                    <a href="#" class="btn btn-primary btn-sm" data-toggle="dropdown" title="More" ><i class="fa-solid fa-ellipsis"></i></a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item d-flex align-items-center text-default" href="">
                                            <i class="fa-solid fa-magnifying-glass text-primary"></i> 
                                            <span>Lihat Detail</span>
                                            
                                        </a>
                                        <a class="dropdown-item d-flex align-items-center text-default" href="">
                                            <i class="fa-solid fa-pencil text-primary"></i>
                                            <span>Edit</span>
                                        </a>
                                        <a class="dropdown-item d-flex align-items-center text-default" href="{% url 'riwayat_rekam_medis_pasien' item.registrasi.pasien.id %}">
                                            <i class="fa-solid fa-clock text-primary"></i>
                                            <span>Lihat Riwayat</span>
                                        </a>
                                    </div>
                                </td>                            
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- End DataTable Daftar Rekam Medis Semua Pasien -->

    <!-- Footer -->
    <footer class="footer pt-0">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6">
                <div class="copyright text-center text-lg-left text-muted">
                    &copy; 2025 <a href="#" class="font-weight-bold ml-1" target="_blank">Kelompok 9 RPL</a>
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                    <li class="nav-item">
                        <a href="#" class="nav-link" target="_blank">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" target="_blank">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" target="_blank">License</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
</div>
<!-- End Page content -->
{% endblock %}